@keyframes title-scrolled {
    from {
        text-align: center;
        left: initial;
    }

    to {
        text-align: left;
        left: 0;
    }
}
@-webkit-keyframes title-scrolled {
    from {
        text-align: center;
        left: initial;
    }

    to {
        text-align: left;
        left: 0;
    }
}