@keyframes title-scrolled {
from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-42%);
    }
}

@-webkit-keyframes title-scrolled {
from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-42%);
    }
}