body {
  background-color: #0F0F0F;
  color: #F0F0F0;
  margin: 0;
}

main {
  margin: auto;
  width: 80%;
}

header {
  background-color: #F0F0F0;
  margin-bottom: 1em;
  width: 100%;
}

h1 {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  color: #0F0F0F;
  font-family: "Corporate Logo ver2";
  margin: 0;
  padding: 0.25em;
  text-align: center;
  line-height: 100%;
  transition: all 3s;
  opacity: 1;
}

h1.show {
  top: 0;
  width: 100%;
  height: auto;
  line-height: initial;
  transform: translate(0, 0);
  transition: all 3s;
}

h2 {
  color: #F0F0F0;
  font-family: "Mode G";
  font-size: 12px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: left;
}
p {
  color: #F0F0F0;
  font-size: 8px;
}
