body {
  background-color: #0F0F0F;
  color: #F0F0F0;
  margin: 0;
}

main {
  margin: auto;
  width: 80%;
}

header {
  background-color: #F0F0F0;
  margin-bottom: 1em;
  width: 100%;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #F0F0F0;
  color: #0F0F0F;
  font-family: "Corporate Logo ver2";
  margin: 0;
  padding: 0.25em;
  text-align: center;
  line-height: 100%;
  opacity: 1;
  z-index: 1;
}

h2 {
  color: #F0F0F0;
  font-family: "Mode G";
  font-size: 12px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: left;
}
p {
  color: #F0F0F0;
  font-size: 8px;
}

/*Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  background-color: #303030;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cfcfcf;
}

::-webkit-scrollbar-track {
  background-color: #303030;
  border-radius: 10px;
  opacity: 0.5;
}

/*Sections*/

section {
  width: 100%;
  height: 815px;
  position: relative;
}

section#under-title {
  background: radial-gradient(ellipse at top, #303030, #030303);
}

section#music {
  background: radial-gradient(ellipse at top, #6495ed, #42629e);
}

section#coding-projects {
  background: radial-gradient(ellipse at top, #242424, #0a0a0a);
}

section#itch-summer {
  background: radial-gradient(ellipse at top, #ffffff, #e7e7e7);
  font-family: "VCR OSD Mono";
}

/*Buttons*/
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  width: 300px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.btn#itch-redir-main {
  color: #F0F0F0;
  background-color: #0F0F0F;
  font-family: "VCR OSD Mono";
}

.btn:hover#itch-redir-main {
  color: #FFFFFF;
  background-color: #000000;
}
