.pride {

    background-color: transparent;
    color: transparent;
    background-clip: text;


    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    -webkit-text-fill-color: #7902AA;
    text-fill-color: #7902AA;
    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    -webkit-text-fill-color: #FFD800;
    text-fill-color: #FFD800;
    
    -webkit-text-fill-color: horizontal;
    text-fill-color: horizontal;
}