.pride {
    background-size: contain;
    background-position: -2 11.1;        
    background-image: url(/images/june/g.png);
    -webkit-background-image: url(/images/june/g.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: black;
}