.pride {
    background-image: url(/images/june/b.png);
    -webkit-background-image: url(/images/june/b.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
background-color: white;
}