.pride {
    background-color: white;
    background-image: url(/images/june/q.png);
    -webkit-background-image: url(/images/june/q.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}