.pride span {
    
    background-image: url(/images/june/t.png);
    -webkit-background-image: url(/images/june/t.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}