.pride {
    background-size: contain;
    background-position: -2 11.1;        
    background-image: url(/images/june/t.png);
    -webkit-background-image: url(/images/june/t.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}