.pride {
    background-size: cover;    
    background-image: url(/images/june/i.png);
    -webkit-background-image: url(/images/june/i.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}