.pride {
    background-size: contain;
    background-position: -2 11.1;    
background-position: 0% 10; 
    background-image: url(/images/june/i.png);
    -webkit-background-image: url(/images/june/i.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}