@font-face {
    font-family: 'Corporate Logo ver2';
    src: url('Corporate-Logo-Bold-ver2.eot');
    src: url('Corporate-Logo-Bold-ver2.eot?#iefix') format('embedded-opentype'),
        url('Corporate-Logo-Bold-ver2.woff') format('woff'),
        url('Corporate-Logo-Bold-ver2.ttf') format('truetype'),
        url('Corporate-Logo-Bold-ver2.svg#Corporate-Logo-Bold-ver2') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mode G';
    src: url('ModeG-Regular.eot');
    src: url('ModeG-Regular.eot?#iefix') format('embedded-opentype'),
        url('ModeG-Regular.woff') format('woff'),
        url('ModeG-Regular.ttf') format('truetype'),
        url('ModeG-Regular.svg#ModeG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

