@font-face {
    font-family: 'Corporate Logo ver2';
    src: url('Corporate-Logo-Bold-ver2.eot');
    src: url('Corporate-Logo-Bold-ver2.eot?#iefix') format('embedded-opentype'),
        url('Corporate-Logo-Bold-ver2.woff') format('woff'),
        url('Corporate-Logo-Bold-ver2.ttf') format('truetype'),
        url('Corporate-Logo-Bold-ver2.svg#Corporate-Logo-Bold-ver2') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mode G';
    src: url('ModeG-Regular.eot');
    src: url('ModeG-Regular.eot?#iefix') format('embedded-opentype'),
        url('ModeG-Regular.woff') format('woff'),
        url('ModeG-Regular.ttf') format('truetype'),
        url('ModeG-Regular.svg#ModeG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('/../itch.summer/fonts/VCROSDMono.eot');
    src: url('/../itch.summer/fonts/VCROSDMono.eot?#iefix') format('embedded-opentype'),
        url('/../itch.summer/fonts/VCROSDMono.woff') format('woff'),
        url('/../itch.summer/fonts/VCROSDMono.ttf') format('truetype'),
        url('/../itch.summer/fonts/VCROSDMono.svg#VCROSDMono') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('GalanoGrotesqueAltDEMO-Bold.eot');
    src: url('GalanoGrotesqueAltDEMO-Bold.eot?#iefix') format('embedded-opentype'),
        url('GalanoGrotesqueAltDEMO-Bold.woff') format('woff'),
        url('GalanoGrotesqueAltDEMO-Bold.ttf') format('truetype'),
        url('GalanoGrotesqueAltDEMO-Bold.svg#GalanoGrotesqueAltDEMO-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Giga Sans';
    src: url('GigaSans-ExtraBold.eot');
    src: url('GigaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('GigaSans-ExtraBold.woff') format('woff'),
        url('GigaSans-ExtraBold.ttf') format('truetype'),
        url('GigaSans-ExtraBold.svg#GigaSans-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
